a {
  text-decoration: none;
}

button {
  margin: 8px;
  padding: 10px 20px;
  background-color: #88f1f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #d480c8;
}

form {
  margin: 15px 0;
}
h3 {
  text-align: center;
  margin: 5px 0;
}
ul {
  list-style: none;
}

.all-comments {
  background: rgba(5, 139, 197, 0.307);
  margin: 35px auto;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}
.all-comments h3 {
  border-bottom: 1px solid black;
}
.all-comments ul {
  margin-top: 20px;
}

/* .author-input{
    text-align: left;
} */
.comment-input {
  margin-top: 10px;
  height: 80px;
}
.key {
  font-weight: bold;
  color: rgb(3, 71, 168);
}

.artist {
  color: rgb(196, 73, 16);
}

.list-item {
  margin: 8px 0;
}
.comments {
  text-align: center;
  margin: 15px 0;
}
.author-key {
  font-weight: bold;
  color: rgb(3, 71, 168);
}

.mural-image {
  margin-bottom: 20px;
}

.mural-image {
  width: 100%;
  height: auto;
}
.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.info-parent-container {
  margin-left: 15px;
}
.top-links p {
  font-size: 26px;
}

.top-links {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  padding: 15px 0;
  margin-left: 15px;
}
